node_modules/
dist/
.env
coverage/
*.log
*.log.*
backend-dev.log.err
test.js
test2.js
create-dynamic-stripe.js
StockSavvy.postman_collection.json
docs/
*.md
scripts/
FRONTEND_SCREENS.md
uploads/
redis.zip
redis/
dump.rdb
